                              /* css for index.html */
/* колір основного шрифту   color: #212121; */

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

ul,h1,h2,h3,h4,h5,h6,p,li {
    margin: 0;
    padding: 0;
}

.site-second{
    margin-left: auto;
}

body{
    color: var(--main-color);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    background: var(--background-white);
   
}

:root {
--main-color:#212121;
--background-white:#fff;
--second-white:#f5f4fa;
--blue:#2196f3;
--studio-black:#000;
--hero-color:#2f303a;
--grey-color:#757575;

}

.web-studio {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    color: var(--blue);
}

.web-studio>span {
    color: var(--studio-black);
    font-family: "Raleway", sans-serif;
}

.section-hero{
    background: var(--hero-color);
    padding-top: 200px;
    padding-bottom: 200px;  
}

.typography {
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        text-align: center;
        color: var(--background-white);
        margin-top: 0;
        margin-bottom: 30px;
        width: 696px;
        margin-right: auto; 
        margin-left: auto;   
}

.button {
    border: 1 px solid transparent;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--background-white);
    
    display: block;
    background-color: var(--blue);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
    padding-right: 32px;
    padding-bottom: 10px;
    padding-left: 32px;
}

.title{
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}

.title .paragraph {
font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71429;
    letter-spacing: 0.03em;
    color: var(--grey-color);
}

.subtitle{
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.03em;
        text-align: center;
}

.lead{
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 0.03em;
        text-align: center;
        color: var(--grey-color);
}

.subject{
        font-weight: 700;
        font-size: 36px;
        letter-spacing: 0.03em;
        text-align: center;
        margin-bottom: 50px;
        padding-bottom: 0;
        
}

.site-nav .link{
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        letter-spacing: 0.02em;
        color: var(--main-color);
        padding-top: 32px;
        padding-bottom: 32px;
        
}

.site-nav .link.current {
color:var(--blue);
font-weight: 500;
letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--blue);
}

.site-second .link-mails {
    color:var(--grey-color);
    letter-spacing: 0.02em;
    font-weight: 500;
    padding-top: 32px;
   padding-bottom: 32px;
   display: block;
}

.site-second .link-mails:hover,
.site-second .link-mails:focus {
color:var(--blue);
}

.feature-list .title {
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase; 
}

.feature-list .paragraph {
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--grey-color);
    margin-top: 0px;
    margin-bottom: 0px;
}

li {
    list-style-type: none;
}

.bottom-section{
    background: var(--second-white);
}

.footer {
    background: var(--hero-color);
   padding-top: 60px;
   padding-bottom: 60px;
}

.footer-address {
        font-weight: 400;
        line-height: 1.71;
        letter-spacing: 0.03em;
}

.footer-address .address{
margin-bottom: 9px;
}

.footer-ul .footer-li{
    margin-bottom: 9px;
}

.footer .mail{
    font-weight: 400;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);

}

.footer .mail:hover,
.footer .mail:focus {
color: var(--background-white);
}

.footer .studio-footer{
    display: block;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    color: var(--blue);
    margin-bottom: 20px;
}

.footer .studio-footer>span {
  font-family: "Raleway", sans-serif;
  color: var(--background-white);
}

.footer .footer-ul {
    display: block;
    padding-left: 0px;
}
       
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.page-header{
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

.site-nav{
    display: flex;
}

.site-second{
    display: flex;
}

.header {
border-bottom: 1px solid #ececec;

}

.site-nav .item:not(:last-child){
    margin-right: 50px;
}

.site-second .item:not(:last-child){
    margin-right:  50px;
}

.feature-list .ul{
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}

.feature-list li{
    margin-right: 30px;
    padding: 0;
    width: 270px;
}

.feature-list li:last-child{
    margin-right: 0;
}

.feature-list .title{
    margin-top: 0px;
    margin-bottom: 10px;
}

.feature-list{
    padding-top: 94px;
    padding-bottom: 94px;
  
}

.section-images{
    padding-bottom: 94px;
}

.section-images .subject{
    margin-top: 0px;
}

.section-images .images{
    display: flex;
    gap: 30px;
}

.main-nav{
    display: flex;
    align-items: center;
}

.images .img {
    display: block;
}

.main-nav .web-studio{
    margin-right: 93px;
}

   /* наша команда */
.bottom-section{
    padding-bottom: 94px;
    padding-top: 94px;
}
  
.bottom-section .subject-icon {
    display: flex;
    gap: 30px;
}

.bottom-section .subject-li{
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}



 .bottom-section .img {
    display: block;
 }
 
 .bottom-section .bottom-div{
    padding-top: 30px;
    padding-bottom: 30px;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    background: #fff;
 }

 .bottom-section .subtitle{
    margin-bottom: 10px;
 }




                                             /* Portfolio HTML */   

 .links .navigation-first {
    font-family: "Roboto", sans-serif;
    background: var(--blue);
    color: var(--background-white);
    font-weight: 500;
     font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
 }

 .links .navigation:focus,
 .links .navigation:hover {
     background: var(--blue);
     color: var(--background-white);
 }

 .links .navigation {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.625;
        letter-spacing: 0.03em;
        text-align: center;
        color: var(--main-color);
        background-color: var(--second-white);
 }

 li {
     list-style-type: none;
 }

 button {
     font-family: inherit;
 }

 .tagline .subtitles {
    color: var(--main-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
 }

.tagline .paragraph {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.03em;
        color: var(--grey-color);
}


                                        /* Footer */
 .footer {
     background: var(--hero-color);
    
 }

 .footer-address {
   font-style: inherit;
     font-weight: 400;
     line-height: 1.71;
     letter-spacing: 0.03em;
     color: var(--background-white);
 }

 .footer .mail {
     font-weight: 400;
     font-size: 14px;
     line-height: 1.71;
     letter-spacing: 0.03em;
     color: rgba(255, 255, 255, 0.6);

 }

 .footer .mail:hover,
 .footer .mail:focus {
     color: var(--background-white);
 }

 .footer .studio-footer {
     font-weight: 700;
     font-size: 26px;
     letter-spacing: 0.03em;
     color: var(--blue);
 }

 .footer .studio-footer>span {
     color: var(--background-white);
    
 }

a {
    text-decoration: none;
}

.button-section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.site-nav .link {
    text-transform: capitalize
}

.button-section .links {
   display: flex;
   justify-content: center;
}

.button-section .links-li:not(:last-child){
    margin-right: 8px;
}

.button-section .tagline {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 50px;
    gap: 30px;
    
}

.button-section .tagline-div{
    border-left: 1px solid #eee; 
    border-right: 1px solid #eee; 
    border-bottom: 1px solid #eee; 
    padding: 20px 24px;
}

.links .navigation-first{
    border-radius: 4px;
    padding: 6px 25px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
    background: #2196f3;
}

.links .navigation{
    border-radius: 4px;
    padding: 6px 22px;
    background: #f5f4fa;
}

.tagline .img{
    display: block;
}